.product-compare-display {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left-product {
    height: 100%;
    width: 40%;
    //background-color: black;
    background-size: cover;
    object-fit: cover;
    color: transparent;
    position: relative;
    border-radius: 5px;
  }
  .right-product {
    height: 100%;
    width: 40%;
    //background-color: blue;
    background-size: cover;
    object-fit: cover;
    color: transparent;
    position: relative;
    border-radius: 5px;
  }
  .buy-product {
      height: 70px;
      width: 100%;
      background-color: #FF0010;
      position: absolute;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: height .25s ease;
      h5 {
        margin-bottom: 0px;
      }
      a {
        width: 100%;
        height: 100%;
        color: black
      }
    }
    .buy-product:hover {
      height: 85px;
    }
}

