<div id="banner">
  <div style="width: auto;">
    <div class="text">
      <h1><i class="fas fa-filter"></i></h1>
      <h1>Selectfit</h1>
    </div>
    <%= link_to products_path do %>
    <div class="link btn btn-flat">
      <div class="button">
        <p>Get started</p>
      </div>
    </div>
    <% end %>
  </div>
</div>


