<div class="product-compare-display">


  <div class="left-product" style="background-image: url('<%= cl_image_path @product_left.photo.key, crop: :fill %>')">
    <p>left</p>
    <div class="buy-product">
      <%= link_to product_path(@product_left) do%>
      <div style="display: flex; align-items: center; justify-content: center; height: 100%">
        <h5>Show Details</h5>
      </div>
      <% end %>
    </div>
  </div>





  <div class="right-product" style="background-image: url('<%= cl_image_path @product_right.photo.key, crop: :fill %>')">
    <p>right</p>
    <div class="buy-product">
      <%= link_to product_path(@product_right) do%>
      <div style="display: flex; align-items: center; justify-content: center; height: 100%">
        <h5>Show Details</h5>
      </div>
      <% end %>
    </div>
  </div>



</div>





